* {
    padding: unset;
    margin: unset;
    border: unset;
    outline: none;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 400;
    font-family: 'Roboto-Regular','Rubik','Segoe UI', Tahoma, Verdana, sans-serif;
    list-style: none;
    box-sizing: border-box;
}
@font-face {
    font-family: robotlight;
    src: url(/Roboto-Light.ttf);
}
@font-face {
    font-family: rubix;
    src: url(/Rubik-Regular.ttf);
}
:root {
    --background-color: #1B1A1A;
    --search-bar: #D9D9D9;
    --white: #FFFFFF;
    --black: #000000;
    --grey-text: #BEBEBE;
    --yellow: #E7C600;
    --red:  #DD1400;
    --dark-gradient:  #232022;
    --text-small: 12px;
    --text-base: 16px;
    --text-title: 24px;
    --text-title-large: 32px;
    --text-jumbo: 64px;
    --border: 10;
    --content-inbetween: 10px;
    --content-inbetween-playlist: 25px;
    --logo-small: 24px;
    --logo-medium: 32px;
    --logo-large: 56px;
    --content-page-inbetween: 30px;

}


header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 60px;
}

.searchform {
    display: flex;
    gap: 8px;

}

.popo {
    display: flex;
    background-color: var(--search-bar);
    padding: 1px 40px;
    border-radius: 10px;
}

.popo input {
    background-color: transparent;
    padding: 1px 40px;
}


.jumbotron {
    background-image: url(/Mask\ group.png);
    background-size: cover;
    background-position: center;
    padding: 100px 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1.25rem;


}

.neigh {
    height: 30rem;

}

.jumbotron h3 {
    color: var(--grey-text);
    font-size: var(--text-title);
    font-family: robotlight;
}

footer {
    margin-bottom: 60px;
}

.foottext {
    flex-direction: column;
    text-align: center;
    padding: 60px 60px;

    
}

.foottext h1 {
    font-family: rubix;
    font-size: var(--text-title-large);
}

.foottext p {
    font-size: var(--text-base);
    color: var(--grey-text);
}

.footend {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 80px;
}

.footend li {
    display: flex;
    align-items: center;
    gap: 0.3rem;
    color: var(--grey-text);

}



body {
    background-color: var(--background-color);
    color: #D9D9D9;
}